@charset "UTF-8";
/* CSS Document */

body, html {
	background-color: #1f1f1f !important;
	color: #ffffff !important;
	font-family: 'Questrial', sans-serif !important;
    font-size: 14px;
	  -webkit-perspective: 500;
   -webkit-perspective-origin: 0 0;
}

header {
  background: url("../upload/header_asian.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120%;
	translateZ: -30px;
}


footer {
	background: #AAA48C;
	text-align: center;
	padding: 40px;
	
}

footer a {color:#fff;
		display: inline;}

a {
    color: #fff !important;
    
}
a:hover, a:active {
    color: #ABC8E7 !important;
	display: initial;
    text-decoration: none !important;
 
}

.catImgDes {
   width: 100%; 
            transition: 0.3s all ease-in-out; 
    padding: 20px;
}

.catImgDes:hover {
          -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.footerText {
	font-size: 1.2em;
	text-transform: uppercase;
}


.logo {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

hr.solid
{
	border-top: 2px solid #FFFFFF !important;
	width: 50%;
    padding: 5px 0;
}
.titulo {
	background-color: #AAA48C;
  	height: auto; 
	max-width: 100% !important;
    margin: 0;
    padding: 10px;
	text-align: center;
}

.principalMain {
    padding-top: 40px;
    padding-bottom: 40px;
}

.categorias{
	text-align: center;
    text-transform: uppercase;
}

.social {
	    margin: 0 6px;
	padding: 10px;
	position: relative;
}

.backBoton {
	    margin: 0 6px;
	padding: 10px;
	position: absolute;
    color: #fff;
}

.copyright {
	font-size: 0.7em;
}

.categoriaImg {
    width: 160px;

}


.productoImg {
    width: inherit;
}

.productInfo {
    padding: 20px 0;
}


.rolloDesc {
    padding-right: 0 !important;
}
.h6, h6 {
    font-style: italic;
}

.catNameIn {
    padding-top: 15px;
}

.background {
	      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
    height: 300px;
    width: 100%;
}

.Bebidas1 {
  background: url("../upload/BG_bebida1.jpg");
}

.Bebidas2 {
  background: url("../upload/BG_bebida2.jpg");
}

.Bebidas3 {
  background: url("../upload/BG_bebida3.jpg");
}

.Bebidas4 {
  background: url("../upload/BG_bebida4.jpg");
}

.Bebidas5 {
  background: url("../upload/BG_bebida5.jpg");
}

.Paquete1 {
  background: url("../upload/BG_paquete1.jpg");
}

.Paquete2 {
  background: url("../upload/BG_paquete2.jpg");
}

.Paquete3 {
  background: url("../upload/BG_paquete3.jpg");
}


.Veggie {
  background: url("../upload/buddah_grill.jpg");
}

.Sushi1 {
  background: url("../upload/BG_sushi1.jpg");
}

.Sushi2 {
  background: url("../upload/BG_sushi2.jpg");
}

.Kids1 {
  background: url("../upload/BG_kids1.jpg");
}

.Kids2 {
  background: url("../upload/BG_kids2.jpg");
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
    height: 300px;
    width: 100%;

}

.Sopas {
    background: url("../upload/BG_sopas.jpg");
  }

.Sashimi {
    background: url("../upload/BG_sashimi.jpg");
  }
.Postres {
    background: url("../upload/BG_postre.jpg");
  }

.Nigiri {
    background: url("../upload/BG_nigiri.jpg");
  }

.Sopas {
    background: url("../upload/BG_sopas.jpg");
  }

.Paquete {
    background: url("../upload/BG_teppan.jpg");
  }

.Teppan {
    background: url("../upload/BG_teppan.jpg");
  }

.Chop {
    background: url("../upload/BG_chop.jpg");
  }

  .Arroz {
    background: url("../upload/BG_arroz.jpg");
  }

.Maki {
    background: url("../upload/BG_temaki.jpg");
  }

  .Broche {
    background: url("../upload/BG_brochetas.jpg");
  }

  .Entradas2 {
    background: url("../upload/BG_entradas2.jpg");
  }

  .Entradas {
    background: url("../upload/BG_entradas.jpg");
  }

ul {
    padding-inline-start: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.img-container {
    position: relative;

}

.img-container img {
    height: 100%;
    width: 100%;
}

.img-container .img-footer {
    position: absolute;
    bottom: 0; left: 0;
    padding: 10px;   

    width: 100%;

    color: #fff;
    background: rgba(0,0,0,0.7);   
}

.izqCol{
	border-right: 1px ridge #ffffff;
}

.xianCol {
	background-color: #e2be9e;
	vertical-align: middle;
	padding-top: 0.5em;
	color: #1f1f1f;
}

.sakuCol {
	background-color: #efb4e9;
	vertical-align: middle;
	padding-top: 0.5em;
	color: #1f1f1f;
}

.jinanCol {
	background-color: #8ae0c3;
	vertical-align: middle;
	padding-top: 0.5em;
	color: #1f1f1f;
}
     
    .demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: never;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }


table {
	
	width:100%;
}

td {
height: 35px;
	padding: 10px;
}

@media only screen and (max-device-width: 1366px) {
  .background {
    background-attachment: scroll;
  }
	header {
    background-attachment: scroll;
  }
}